body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Quicksand', sans-serif;
}

.clear-fix {
  overflow: auto;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 12px;
  color: #999;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


/* HEADER */

#header {
  background-color: #fff8e7;
  padding-top: 12px;
  -webkit-box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.27);
  box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.27);
    min-height: 150px;
}


.contact-item {
  color: #333;
  display: block !important;
  font-size: 1.2em !important;
  margin-bottom: 5px;
}

.contact-item:before {
    margin-right: 10px;
}

.social-icon {
  margin-right: 0.8em;
  font-size: 1.5em !important;
  color: #333;
  margin-top: 0;
}

.my-name {
  color: #333;
  font-weight: 300;
}

.my-role {
  color: #333;
  font-weight: 700;
  margin: 0;
  padding: 10px 3px 0 0;
}

.biopic {
  padding: 0;
  width: 200px;
  margin: 0 auto;
  margin-top: -100px;
  border: 7px solid #fff8e7;
}

.bio-location {
  font-size: 1.5em;
}

.intro-message {
  max-width: 700px;
  margin: 0 auto;
  padding: 5em 0 5em 0;
}

.vert-line {
  border-top: 30px solid #ccc;
  width: 1px;
  margin-bottom: 5em;
}

.my-skills {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 5em;
}

.skill-item {
    padding: 0.3em;
}

#skills-h3 {
  color: #fb0909;
  font-style: normal;
  font-weight: 300;
}

#work-h3 {
  color: #fb0909;
  font-style: normal;
  font-weight: 300;
  margin-bottom: -1em;
}

.company {
  color: #333;
  font-size: 26px;
  margin-top: 2em;
}

.work-dates {
  font-size: 12px;
  line-height: 28px;
}

#workExperience {

}

.work-entry {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.work-description {
  text-align: justify;
}

.work-location {
  position: absolute;
  right: 0;
}
.work {
  background-color: rgba(250, 250, 255, 0.78);;
  margin-top: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 3px rgba(0,0,0,0.06);
  -moz-box-shadow: inset 0px 0px 17px 3px rgba(0,0,0,0.06);
  box-shadow: inset 0px 0px 17px 3px rgba(0,0,0,0.06);
  padding-top: 3em;
  padding-bottom: 5em;
}

span.fa.fa-map-marker {
  color: #fb0909;
}

hr.work-separator {
  width: 50%;
  border-top: 1px solid rgba(251, 9, 9, 0.27);
  margin-top: 4em;
}

hr.work-separator:last-child {
  display: none;
}

#projects-h3 {
  color: #fb0909;
  font-style: normal;
  font-weight: 300;
}

.proj-img {
  margin-bottom: 3em;
}

.proj-img:first-child {
  display: none !important;
}

.project-title {
  color: #333;
  font-size: 26px;
  margin-top: 1em;
}

.projects-row {
  padding-top: 3em;
  padding-bottom: 3em;
}

.project-description {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
  background: rgba(243, 243, 243, 0.92);
  padding: 7px 10px 7px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.project-demo {
  margin-top: 0;
}

.project-date {
  position: absolute;
  right: 20px;
}

.project-entry {

}

/* MEDUA QUERIES */

@media screen and (max-width: 550px) {
  #header {
  }
  .biopic {
    width: 100%;
    margin-top: 0;
    border: 15px solid #fff8e7;
  }

  .my-name {
    font-weight: 300;
    font-size: 32px;
  }

  .my-role {
    font-size: 16px;
  }

  .name-cont {
    text-align: center !important;
    width: 100% !important;
  }

  .get-in-touch {
    text-align: center !important;
    width: 100% !important;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .contact-item {
    font-size: 14px !important;
    display: none !important;
  }
}


@media screen and (max-width: 768px) {
  .my-name {
    font-weight: 300;
    font-size: 26px;
  }

  .my-role {
    font-size: 16px;
  }

  .biopic {
    margin-top: -30px;
  }

}
